<section class='details'>
	<h3>Movie Details</h3>

	<dl>
		<div class='first-look'>
			<aside class='polling'>
				<div class='grade'>
					<dt>Viewer Polls</dt>
					<dd>
						<span class='data-grade-meter'>
							<meter
								min='0'
								max='5'
								optimum='5'
								value='{{movie.vote.average}}'
							></meter>
						</span>
					</dd>
					<dd>{{movie.vote.grade}} stars</dd>
				</div>

				<div class='vote-count'>
					<dt>Vote Count</dt>
					<dd>{{movie.vote.count}} votes</dd>
				</div>

				<div class='review-count'>
					<dt>Review Count</dt>
					<dd>0 reviews</dd>
				</div>
			</aside>

			<div class='tagline'>
				<dt>Tagline</dt>
				<dd>{{movie.tagline}}</dd>
			</div>

			<div class='overview'>
				<dt>Overview</dt>
				<dd>{{movie.overview}}</dd>
			</div>
		</div>

		<div class='release-date'>
			<dt>Release Date</dt>
			{{#with movie.release_date}}
				<dd>{{day}} {{month}} {{year}}</dd>
			{{/with}}
		</div>

		<div class='runtime'>
			<dt>Runtime</dt>
			<dd>
				{{#with movie.runtime}}
					{{#if hours}}{{hours}}hr{{/if}}
					{{#if minutes}}{{minutes}}min{{/if}}
					{{#if seconds}}{{seconds}}sec{{/if}}
					{{#unless stamp}}<em>no runtime data</em>{{/unless}}
				{{/with}}
			</dd>
		</div>

		<div class='trailer'>
			<dt>Trailer</dt>
			<dd>
				<iframe
					width = '640'
					height = '360'
					src = 'https://www.youtube.com/embed/{{videos.results.[0].key}}?rel=0'
					title = 'YouTube video player'
					frameborder = '0'
					allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
					allowfullscreen = 'true'
				></iframe>
			</dd>
		</div>

		<div class='genres'>
			<dt>Genres</dt>
			{{#each movie.genres as |genre|}}
				<dd>{{genre.name}}</dd>
			{{/each}}
		</div>

	</dl>
</section>
