<article
	class='movie'
	data-movie-id='{{movie.id}}'
>
	<div class='title button'>
		<h2>{{movie.title}}</h2>
		<p class='drawer'>Show More Details</p>
	</div>

	<a
		class='poster blur-link'
		href='/movies/{{movie.id}}'
	>
		<picture>
			<source srcset='https://image.tmdb.org/t/p/w500/{{movie.poster_path}}' />
			<source srcset='http://via.placeholder.com/500x750' />
			<img src='https://imagee.tmdb.org/t/p/w500/{{movie.poster_path}}' />
		</picture>

		<p class='more-info'>
			View Movie Page
		</p>
	</a>

	<div class='details-container'></div>

</article>
