<!--
	Movie Card
	views/partials/movie-card.hbs
--->

<!--
	Variables:
	- movie (a parsed movie object)
--->

<article
	class='movie {{#if complete}}complete{{/if}}'
	data-movie-id='{{movie.ids.api}}'
>

	<div>
		<h2>{{movie.title}}</h2>
		{{#if movie.originalTitle}}
			<p>{{movie.originalTitle}}</p>
		{{/if}}
	</div>

	<picture>
		<img src={{movie.posters.[0].sizes.[3].urls.main}} />
	</picture>

	<section>
		<h3>Movie Details</h3>

		<!-- Public Reception --->
		<dl>
			<div>
				<dt>Viewer Ratings</dt>
				<dd><meter
					min=0
					max=5
					optimum=5
					value={{movie.ratings.average}}
					data-rating={{movie.ratings.average}}
				>{{movie.ratings.vulgarAverage}}</meter></dd>
				<dd><span>{{movie.ratings.vulgarAverage}}</span> stars</dd>
			</div>

			<div>
				<dt>Vote Count</dt>
				<dd>{{ratings.count}} votes</dd>
			</div>

			<div>
				<dt>Review Count</dt>
				<dd>{{reviews.length}} reviews</dd>
			</div>
		</dl>

		<!-- Overview --->
		<dl>
			<div>
				<dt>Tagline</dt>
				<dd>{{movie.tagline}}</dd>
			</div>

			<div>
				<dt>Overview</dt>
				<dd><p>{{movie.overview}}</p></dd>
			</div>
		</dl>

		<!-- Factoids --->
		<dl>
			<div>
				<dt>Rating</dt>
				<dd>{{movie.releases.main.certification}}</dd>
			</div>

			<div>
				<dt>Runtime</dt>
				<dd>
					{{#if hours}}{{hours}}hr{{/if}}
					{{#if minutes}}{{minutes}}min{{/if}}
					{{#if seconds}}{{seconds}}sec{{/if}}
				</dd>
			</div>

			<div>
				<dt>Release Date</dt>
				<dd>{{day}} {{month}} {{year}}</dd>
			</div>
		</dl>


		{{!-- Genres --}}
		{{> movie-card/list-genres}}
		{{!-- Main Trailer --}}
		{{> movie-card/feature-video}}
	</section>


	{{#if complete}}
	{{> movie-card/trivia}}

	{{> movie-card/list-media}}

	{{> review-gallery}}
	{{/if}}

</article>
