<section>
	<h3>Movie Details</h3>

	{{!-- tagline --}}
	<dl class='tagline'>
		<dt>Tagline</dt>
		<dd>{{movie.tagline}}</dd>
	</dl>

	{{!-- genres --}}
	<dl class='genres'>
		<dt>Genres</dt>
		{{#each movie.genres as |genre|}}
			<dd>{{genre.name}}</dd>
		{{/each}}
	</dl>

	{{!-- overview --}}
	<dl class='overview'>
		<dt>Overview</dt>
		<dd>{{movie.overview}}</dd>
	</dl>

	{{!-- trailer --}}
	<dl class='trailer'>
		<dt>Trailer</dt>
		<dd>
			<iframe
				width = '640'
				height = '360'
				src = 'https://www.youtube.com/embed/{{videos.results.[0].key}}?rel=0'
				title = 'YouTube video player'
				frameborder = '0'
				allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
				allowfullscreen = 'true'
			></iframe>
		</dd>
	</dl>

	<aside>
		{{!-- ratings and reviews--}}
		<dl class='rating'>
			<dt>Rating</dt>
			<dd>
				<span class='data-rating-meter'>
					<meter
						min='0'
						max='5'
						optimum='5'
						value='{{movie.vote.average}}'
					></meter>
				</span>
			</dd>
			<dd>{{movie.vote.rating}} stars</dd>
		</dl>

		<dl class='num-votes'>
			<dt># Ratings</dt>
			<dd>{{movie.vote.count}} votes</dd>
		</dl>

		<dl class='num-reviews'>
			<dt># Reviews</dt>
			<dd>0</dd>
		</dl>

		{{!-- release date --}}
		<dl class='release-date'>
			<dt>Release Date</dt>
			{{#with movie.release_date}}
				<dd>{{day}} {{month}} {{year}}</dd>
			{{/with}}
		</dl>

		{{!-- runtime --}}
		<dl class='runtime'>
			<dt>Runtime</dt>
			<dd>
				{{#with movie.runtime}}
					{{#if hours}}{{hours}}hr{{/if}}
					{{#if minutes}}{{minutes}}min{{/if}}
					{{#if seconds}}{{seconds}}sec{{/if}}
					{{#unless stamp}}<em>no runtime data</em>{{/unless}}
				{{/with}}
			</dd>
		</dl>

	</aside>
</section>
