<!--
	Movie Card
	views/partials/movie-card.hbs
--->

<!--
	Variables:
	- movie (a parsed movie object)
--->

<article data-movie-id='{{movie.ids.api}}'>

	<!-- Title Bar --->
	<div>
		<h2>{{movie.title}}</h2>
		{{#if movie.originalTitle}}
		<p>{{movie.originalTitle}}</p>
		{{/if}}
	</div>

	<!-- Main Poster --->
	<div>
		<picture>
			<img src='{{movie.posters.[0].sizes.[3].urls.main}}' />
		</picture>
	</div>

	<!-- Main Trailer --->
	<div>
		<iframe
			src='{{movie.videos.[0].urls.embed}}'
			title='YouTube video player'
			allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
			allowfullscreen='true'
		></iframe>
	</div>

	<!-- Details Section --->
	<section>
		<h3>Movie Details</h3>

		<!-- Public Reception --->
		<dl>
			<div>
				<dt>Viewer Polls</dt>
				<dd><meter
					min=0
					max=5
					optimum=5
					value={{movie.ratings.average}}
					data-rating={{movie.ratings.average}}
				>{{movie.ratings.vulgarAverage}}</meter></dd>
				<dd><span>{{movie.ratings.vulgarAverage}}</span> stars</dd>
			</div>

			<div>
				<dt>Poll Count</dt>
				<dd>{{ratings.count}} votes</dd>
			</div>

			<div>
				<dt>Review Count</dt>
				<dd>{{reviews.length}} reviews</dd>
			</div>
		</dl>

		<!-- Overview --->
		<dl>
			<div>
				<dt>Tagline</dt>
				<dd>{{movie.tagline}}</dd>
			</div>

			<div>
				<dt>Overview</dt>
				<dd><p>{{movie.overview}}</p></dd>
			</div>
		</dl>

		<!-- Factoids --->
		<dl>
			<div>
				<dt>Rating</dt>
				<dd>{{movie.releases.[0].certification}}</dd>
			</div>

			<div>
				<dt>Runtime</dt>
				<dd>
					{{#with movie.runtime}}
					{{#if hours}}{{hours}}hr{{/if}}
					{{#if minutes}}{{minutes}}min{{/if}}
					{{#if seconds}}{{seconds}}sec{{/if}}
					{{/with}}
				</dd>
			</div>

			<div>
				<dt>Release Date</dt>
				<dd>
					{{#with movie.releases.[0].date}}
					{{#if day}}{{day}}{{/if}}
					{{#if month}}{{month}}{{/if}}
					{{#if year}}{{year}}{{/if}}
					{{/with}}
				</dd>
			</div>
		</dl>

		<!-- Genres --->
		<dl>
			<div>
				<dt>Genres</dt>
				{{#each movie.genres as |genre|}}
				<dd>{{genre.name}}</dd>
				{{/each}}
			</div>
		</dl>

		{{#if (equals type 'page')}}

		<!-- Trivia --->

		<!-- List Media --->

		<!-- Ratings Histogram --->

		<!-- Reviews Index (Paginated) --->

		{{/if}}

	</section><!-- End Details Section --->

	{{#if (equals type 'card')}}
	<button>Load Movie Details</button>
	<br />
	<a href='{{join './movies/' movie.ids.api}}'>View Movie Page</a>
	<br />
	{{/if}}
	<a href='{{movie.posters.[0].sizes.[0].urls.main}}'>View Full-Size Poster</a>

</article><!-- End Movie Article --->
