{{!--
	- movie
	- review
	- config
--}}


<div class='review-card source-{{review.source}}'>
	{{#if review.author.avatar_path}}
		<div class='avatar'>
			<img src='{{config.images.secure_base_url}}w45{{review.author.avatar_path}}' />
		</div>
	{{/if}}
	<h4>
		{{#if review.title}}
			{{review.title}}
		{{else}}
			Review from {{review.source}}
		{{/if}}
	</h4>
	{{#if review.author.username}}
		<p><em>By {{review.author.username}} on
		{{review.creation_date.day}}
		{{review.creation_date.month}}
		{{review.creation_date.year}}
		</em></p>
	{{/if}}

	<div
		{{!-- semantically, should be a meter --}}
		min=0
		max=5
		optimum=5
		value={{review.rating}}
		style='--rating: {{review.rating}}'
		class='stars'
	></div>

	{{#if review.content}}
		<div class='content'><p>{{review.content}}</p></div>
	{{else}}
		<p></em>This review is empty.</em></p>
	{{/if}}

	<pre><code>{{json review}}</code></pre>

	<div>
		{{#if (equals review.source 'api')}}
		<a
			href='/reviews/{{review.api_id}}?source={{review.source}}'
			class='button'
		>
		{{else if (equals review.source 'db')}}
		<a
			href='/reviews/{{review.db_id}}?source={{review.source}}'
			class='button'
		>
		{{/if}}
			View
		</a>

		{{#if (equals review.source 'db')}}
		<a
			href='/reviews/{{review.db_id}}/edit'
			class='button'
		>
			Edit
		</a>

		<form><button
			class='button'
			type='submit'
			formmethod='POST'
			formaction='/reviews/{{review.db_id}}?_method=DELETE'
		>
			Delete
		</button></form>
		{{/if}}

	</div>
</div>
