{{!-- {{log review}} --}}

<div>
	<h4>
		{{#if review.title}}
			{{review.title}}
		{{/if}}
		<div
			{{!-- semantically, should be a meter --}}
			min=0
			max=5
			optimum=5
			value={{review.rating}}
			style='--rating: {{review.rating}}'
			class='stars'
		></div>
	</h4>

	{{#if review.content}}
		<p style='white-space: pre-line'>
			{{review.content}}
		</p>
	{{else}}
		<p>
			</em>
				This review is empty.
			</em>
		</p>
	{{/if}}

	<form method='POST' action='/reviews/{{review._id}}?_method=DELETE'>
		<input
			type='button'
			value='View'
			class='btn'
			onclick='window.location.href="/reviews/{{review._id}}"'
		/>
		<input
			type='button'
			value='Edit'
			class='btn'
			onclick='window.location.href="/reviews/{{review._id}}/edit"'
		/>
		<input
			type='submit'
			value='Delete'
			class='btn'
		/>
	</form>
	<hr />
</div>
