{{!-- Review Card --}}
{{!-- Goals:
	- Show all the information for a review.
	- Hide it if its in an index or gallery.
	- Show the full card if its being shown.
--}}
{{!-- Variables:
	review: the review in question.
	movie: the movie to use.
	config: api config information.
	complete: boolean, whether or not to show full review.
--}}


<div class='review-card source-{{review.source}} {{#if complete}}complete{{/if}}'>
	{{#if review.author.avatar_path}}
	<div class='avatar'>
		<img src='{{config.images.secure_base_url}}w45{{review.author.avatar_path}}' />
	</div>
	{{/if}}
	<h4>
		{{#if review.title}}
		{{review.title}}
		{{else}}
		Review from {{review.source}}
		{{/if}}
	</h4>
	{{#if review.author.username}}
	<p><em>
	By {{review.author.username}} on
	{{review.creation_date.day}}
	{{review.creation_date.month}}
	{{review.creation_date.year}}
	</em></p>
	{{/if}}

	<div
		{{!-- semantically, should be a meter --}}
		min=0
		max=5
		optimum=5
		value={{review.rating}}
		style='--rating: {{review.rating}}'
		class='stars'
	></div>

	{{#if review.content}}
	<div class='content'><p>{{review.content}}</p></div>
	{{else}}
	<div class='content'><p><em>This review is empty.</em></p></div>
	{{/if}}



	<div>
		{{#if complete}}
		<a
			href='/movies/{{review.api_movie_id}}'
			class='button'
		>
			Back
		</a>
		{{else if (equals review.source 'api')}}
		<a
			href='/reviews/{{review.api_id}}?source={{review.source}}'
			class='button'
		>
			View
		</a>
		{{else if (equals review.source 'db')}}
		<a
			href='/reviews/{{review.db_id}}?source={{review.source}}'
			class='button'
		>
			View
		</a>
		{{/if}}

		{{#if (equals review.source 'db')}}
		<a
			href='/reviews/{{review.db_id}}/edit'
			class='button'
		>
			Edit
		</a>

		<form><button
			class='button'
			type='submit'
			formmethod='POST'
			formaction='/reviews/{{review.db_id}}?_method=DELETE'
		>
			Delete
		</button></form>
		{{/if}}

	</div>
</div>

{{!-- <pre><code>{{json review}}</code></pre> --}}
