{{#if review}}
<form method='POST' action='/reviews/{{review.db_id}}?_method=PUT'>
{{else}}
<form method='POST' action='/reviews'>
{{/if}}

	<fieldset>
		<legend>
			{{#if review}}Edit Review{{else}}Create Review{{/if}}
		</legend>

		<!-- MOVIE GRADE -->
		<div>
			<label for='movie-grade'>
				Movie Grade
			</label>

			<br />
			{{log review.grade}}

			<select
				id='movie-grade'
				name='rating'
			/>
				<option
					{{#if review.grade}}
					value='{{review.grade}}'
					label='- Unchanged -'
					{{else}}
					label='- Not Any -'
					{{/if}}
					hidden='true'
				selected />

				<option
					value=''
					label='- Not Any -'
				/>

				<option
					value=0
					label='0: ☆☆☆☆☆'
				/>

				<option
					value=1
					label='1: ★☆☆☆☆'
				/>

				<option
					value=2
					label='2: ★★☆☆☆'
				/>

				<option
					value=3
					label='3: ★★★☆☆'
				/>

				<option
					value=4
					label='4: ★★★★☆'
				/>

				<option
					value=5
					label='5: ★★★★★'
				/>
			</select>
		</div>

		<!-- TITLE -->
		<div>
			<label for='review-title'>
				Title
			</label>

			<br />

			<input
				id='review-title'
				type='text'
				name='title'
				value='{{review.title}}'
			/>
		</div>

		<!-- CONTENT -->
		<div>
			<label for='review-content'>
				Content
			</label>

			<br />

			<textarea
				id='review-content'
				name='content'
				rows='10'
			>{{review.content}}</textarea>
		</div>

		<!-- MOVIE INFORMATION -->
		<input
			type='hidden'
			name='movieId'
			value='{{movie.ids.api}}'
		hidden />

		<!-- AUTHOR INFORMATION -->
		<input
			type='hidden'
			name='authorName'
			value=''
		hidden />

		<input
			type='hidden'
			name='authorAvatar'
			value=''
		hidden />

	</fieldset>



	<div>
		<button
			type='submit'
			class='button'
		>
			Save Review
		</button>

		<a
			href='/'
			class='button'
		>
			Cancel
		</a>
	</div>
</form>
