<div class='movies-index'>

	<h1>{{option}}</h1>

	{{#with movieList.results as |movies|}}
		<ul class='movies-list'>

			{{#each movies as |movie|}}
				<li>
					<article
						class='movie'
						data-movie-id='{{movie.id}}'
					>

						{{!-- GROUP 1: Movie Poster --}}
						<a
							class='blur-link movie-poster'
							href='/movies/{{movie.id}}'
						>
							<img src='https://image.tmdb.org/t/p/w500/{{movie.poster_path}}' />
							<p class='more-info'>
								View Movie Page
							</p>
						</a>

						{{!-- GROUP 2: Movie Info --}}
						<div class='movie-info'>

							{{!-- GROUP 2-A: Movie Title --}}
							<h2 class='movie-title'>
								{{movie.title}}
								<hr />
							</h2>

							{{!-- GROUP 2-B: Show Details button--}}
							<div class='control-area'>
								<input
									class='toggle-activate'
									type='button'
									value='Show Details'
								/>
							</div>

							{{!-- GROUP 2-C: Movie Details --}}
							<div class='movie-details'>
								<section>
									<h3>Movie Details</h3>

									{{!-- tagline --}}
									<dl class='tagline'>
										<dt>Tagline</dt>
										<dd>(Tagline)</dd>
									</dl>

									{{!-- genres --}}
									<dl>
										<dt>Genre</dt>
									</dl>

									{{!-- ratings and reviews--}}
									<dl>
										<dt>Ratings</dt>
										<dd><meter min='0' max='5' optimum='5' /></dd>
										<dd>(stars) stars</dd>
										<dd>(votes) votes</dd>
										<dd>(reviews) reviews</dd>
									</dl>

									{{!-- release date --}}
									<dl>
										<dt>Release Date</dt>
										<dd>(month) (day) (year)</dd>
									</dl>

									{{!-- runtime --}}
									<dl>
										<dt>Runtime</dt>
										<dd>(hours)[hr][ (minutes)min]</dd>
									</dl>

									{{!-- description --}}
									<dl>
										<dt>Description</dt>
										<dd>(description)</dd>
									</dl>

									{{!-- description --}}
									<dl>
										<dt>Trailer</dt>
										<dd>(trailer)</dd>
									</dl>

								</section>
							</div>

						</div>

					</article>
				</li>
			{{/each}}

		</ul>
	{{/with}}

</div>


<script
	type='text/javascript'
	src='/js/movies-index.js'
></script>
