<div class='movies-index'>

	<h1>{{option}}</h1>

	{{#with movieList.results as |movies|}}
		<ul class='movies-list'>

			{{#each movies as |movie|}}
				<li>
					<article
						class='movie'
						data-movie-id='{{movie.id}}'
					>

						{{!-- GROUP 1: Movie Poster --}}
						<a
							class='blur-link movie-poster'
							href='/movies/{{movie.id}}'
						>
							<img src='https://image.tmdb.org/t/p/w500/{{movie.poster_path}}' />
							<p class='more-info'>
								View Movie Page
							</p>
						</a>

						{{!-- GROUP 2: Movie Info --}}
						<div class='movie-info'>

							{{!-- GROUP 2-A: Movie Title --}}
							<h2 class='movie-title'>
								{{movie.title}}
								<hr />
							</h2>

							{{!-- GROUP 2-B: Show Details button--}}
							<div class='control-area'>
								<input
									class='toggle-activate'
									type='button'
									value='Show Details'
								/>
							</div>

							{{!-- GROUP 2-C: Movie Details --}}
							<div class='movie-details'>
								<section>
									<h3>Movie Details</h3>

									{{!-- tagline --}}
									<dl class='tagline'>
										<dt>Tagline</dt>
										<dd>
											<span class='data-tagline'><em>Loading...</em></span>
										</dd>
									</dl>

									{{!-- genres --}}
									<dl class='genres'>
										<dt>Genres</dt>
										<div class='data-genres'>
											<dd><em>Loading...</em></dd>
										</div>
									</dl>

									{{!-- ratings and reviews--}}
									<dl class='ratings'>
										<dt>Ratings</dt>
										<dd>
											<span class='data-rating-meter'>
												<meter
													min='0'
													max='5'
													optimum='5'
													value='0'
												></meter>
											</span>
										<dd><span class='data-rating'><em>Loading...</em></span><dd>
										<dd><span class='data-num-votes'><em>Loading...</em></span><dd>
										<dd><span class='data-num-reviews'><em>Loading...</em></span><dd>
									</dl>

									{{!-- release date --}}
									<dl class='release-date'>
										<dt>Release Date</dt>
										<dd><span class='data-release-date'><em>Loading...</em></span><dd>
									</dl>

									{{!-- runtime --}}
									<dl class='runtime'>
										<dt>Runtime</dt>
										<dd><span class='data-runtime'><em>Loading...</em></span></dd>
									</dl>

									{{!-- overview --}}
									<dl class='overview'>
										<dt>Overview</dt>
										<dd><span class='data-overview'><em>Loading...</em></span></dd>
									</dl>

									{{!-- trailer --}}
									<dl class='trailer'>
										<dt>Trailer</dt>
										<dd><span class='data-trailer'><em>Loading...</em></span></dd>
									</dl>

								</section>
							</div>

						</div>

					</article>
				</li>
			{{/each}}

		</ul>
	{{/with}}

</div>


<script
	type='text/javascript'
	src='/js/movies-index.js'
></script>
