<div class='movies-index'>
	<h1>Movies</h1>

	<ul class='movies-list'>
		{{#each movies as |movie|}}
			{{#with (lookup ../metadata [id]) as |metadatum|}}
				<li>
					<article class='movie-item'>
						<div class='movie-title'>
							<h2>{{movie.title}}</h2>
							<p>{{movie.tag_line}}</p>
						</div>

						<div class='movie-poster'>
							<a href='/movies/{{movie.id}}'>
								<div class='poster-display'>
									<img src='https://image.tmdb.org/t/p/w500/{{movie.poster_path}}' />
									<p class='more-info'>More Info</p>
								</div>
							</a>
						</div>

						<div class='movie-trailer'>
							<div class='trailer-thumbnail'>
								<img src='https://img.youtube.com/vi/{{metadatum.featured_video.key}}/hqdefault.jpg' />
								<p class='more-info'>Load Video</p>
							</div>
						</div>

						<div class='movie-rating'>
							<label>Rating</label>
							<p>
								<meter
									min='0'
									max='5'
									value='{{metadatum.rating}}'
								></meter>
								{{metadatum.rating}} / 5
							</p>
						</div>
					</article>
				</li>
			{{/with}}
		{{/each}}
	</ul>
</div>
