<!-- views/reviews-show.handlebars -->

<!-- <form method="POST" action="/reviews/{{review._id}}?_method=DELETE">
	<p>
		<button type="button" onclick="window.location.href='/reviews/{{review._id}}/edit'">Edit</button>
		<button type="submit">Delete</button>
		<button type="button" onclick="window.location.href='/'">Cancel</button>
	</p>
</form>
<a href="/">Back to Home</a> -->


<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1>REVIEW: {{review.title}}</h1>
		<h2>TITLE: {{review.movieTitle}}</h2>
		<h3>RATING: {{review.movieRating}}</h3>
		<p>DESCRIPTION: {{review.description}}</p>
		<form method="POST" action="/reviews/{{review._id}}?_method=DELETE">
			<p>
				<button type="button" onclick="window.location.href='/reviews/{{review._id}}/edit'">Edit</button>
				<button type="submit">Delete</button>
				<button type="button" onclick="window.location.href='/'">Cancel</button>
			</p>
		</form>
		<hr />
			{{> comment-form}}
		<hr />
		{{#each comments}}
			{{> comment}}
		{{/each}}
	</div>
</div>
