{{!-- Factoids --}}
<dl class='contain-factoids line-seperated inline-list'>

	{{#if movie.releases.main.certification}}
		<div class='show-rating'>
			<dt>Rating</dt>
			<dd>{{movie.releases.main.certification}}</dd>
		</div>
	{{/if}}

	{{#with movie.runtime}}
	{{#if stamp}}
		<div class='show-runtime'>
			<dt>Runtime</dt>
			<dd>
				{{#if hours}}{{hours}}hr{{/if}}
				{{#if minutes}}{{minutes}}min{{/if}}
				{{#if seconds}}{{seconds}}sec{{/if}}
			</dd>
		</div>
	{{/if}}
	{{/with}}


	{{#with movie.releases.main.date}}
	{{#if stamp}}
		<div class='show-release-date'>
			<dt>Release Date</dt>
			<dd>{{day}} {{month}} {{year}}</dd>
		</div>
	{{/if}}
	{{/with}}

</dl>
