{{!-- Public Reception --}}
<dl class='contain-reception'>

	{{#with movie}}
	{{#if ratings.count}}
		<div class='show-viewer-polls'>
			<dt>Viewer Polls</dt>
			<dd><div
				{{!-- semantically, should be a meter --}}
				min=0
				max=5
				optimum=5
				value={{ratings.average}}
				style='--rating: {{ratings.average}}'
				class='stars'
			></div></dd>
			<dd><span class='magic-number'>{{ratings.vulgarAverage}}</span> stars</dd>
		</div>
	{{/if}}

	{{#if ratings.count}}
		<div class='show-vote-count'>
			<dt>Vote Count</dt>
			<dd>{{ratings.count}} votes</dd>
		</div>
	{{/if}}

	{{#if reviews.length}}
		<div class='show-review-count'>
			<dt>Review Count</dt>
			<dd>{{reviews.length}} reviews</dd>
		</div>
	{{/if}}
	{{/with}}

</dl>
