{{!--
requires:
- linked
- movie(?)
- config
--}}

{{#if linked}}
<a
	class='poster blur-link'
	href='/movies/{{movie.api_id}}'
>
{{else}}
<div class='poster'>
{{/if}}

	{{#with movie.featured_poster_path as |poster_path|}}
	{{#with ../config.images.secure_base_url as |base_url|}}
	{{#with ../../config.images}}
	<picture>
		{{!-- This would add all the available picture sizes....
		{{!-- Still, it doesnt seem completely necessary at the moment.
			{{#each poster_sizes as |poster_size|}}
			{{#with ../base_url as |base_url|}}

			{{#if (equals poster_size.type 'w')}}
			<source srcset='{{base_url}}w{{poster_size.value}}{{poster_path}} {{poster_size.value}}w' />
			{{else if (equals poster_size.type 'tag')}}
			<source srcset='{{base_url}}{{poster_size.value}}{{poster_path}}' />
			{{/if}}

			{{/with}}
			{{/each}}
		--}}

		<source srcset='{{base_url}}w500{{poster_path}} 500w' />
		<source srcset='http://via.placeholder.com/92x138' />
		<img src='{{base_url}}w500{{poster_path}}' />

	</picture>


	{{/with}}
	{{/with}}
	{{/with}}

	{{#if linked}}
	<p class='more-info'>
		Show Full Movie Page
	</p>
	{{/if}}

{{#if linked}}
</a>
{{else}}
</div>
{{/if}}
