{{!--
requires:
- anchor_path
- image_path
- portal_text
- classes
--}}

{{#if anchor_path}}
<a
	class='portal {{classes}}'
	href='{{anchor_path}}'
>
{{else}}
<div class='portal {{classes}}'>
{{/if}}

	{{#if portal_text}}
	<p>{{portal_text}}</p>
	{{/if}}

	<picture>

		{{!-- {{#with image_config.secure_base_url as |base_url|}} --}}
		{{!-- {{#with ../poster_path as |poster_path|}} --}}
		{{!-- {{#with ../../image_config}} --}}
		{{!-- This would add all the available picture sizes....
		      Still, it seems a bit overengineered at the moment.
		      But maybe it will help with responsiveness later?
			{{#each poster_sizes as |poster_size|}}
			{{#with ../base_url as |base_url|}}

			{{#if (equals poster_size.type 'w')}}
			<source srcset='{{base_url}}w{{poster_size.value}}{{poster_path}} {{poster_size.value}}w' />
			{{else if (equals poster_size.type 'tag')}}
			<source srcset='{{base_url}}{{poster_size.value}}{{poster_path}}' />
			{{/if}}

			{{/with}}
			{{/each}}
		--}}
		{{!-- {{/with}} --}}
		{{!-- {{/with}} --}}
		{{!-- {{/with}} --}}

		<source srcset='{{image_path}}' />
		<source srcset='http://via.placeholder.com/92x138' />
		<img src='{{image_path}}' />
	</picture>

{{#if anchor_path}}
</a>
{{else}}
</div>
{{/if}}
