{{!--
requires:
- anchor_path
- poster_path
- image_config
--}}

{{#if anchor_path}}
<a
	class='poster blur-link'
	href='{{anchor_path}}'
>
{{else}}
<div class='poster'>
{{/if}}

	{{#with image_config.secure_base_url as |base_url|}}
	{{#with ../poster_path as |poster_path|}}
	{{#with ../../image_config}}
	<picture>
		{{!-- This would add all the available picture sizes....
		     Still, it seems a bit overengineered at the moment.
		     But maybe it will help with responsiveness later?
			{{#each poster_sizes as |poster_size|}}
			{{#with ../base_url as |base_url|}}

			{{#if (equals poster_size.type 'w')}}
			<source srcset='{{base_url}}w{{poster_size.value}}{{poster_path}} {{poster_size.value}}w' />
			{{else if (equals poster_size.type 'tag')}}
			<source srcset='{{base_url}}{{poster_size.value}}{{poster_path}}' />
			{{/if}}

			{{/with}}
			{{/each}}
		--}}

		<source srcset='{{base_url}}w500{{poster_path}} 500w' />
		<source srcset='http://via.placeholder.com/92x138' />
		<img src='{{base_url}}w500{{poster_path}}' />

	</picture>


	{{/with}}
	{{/with}}
	{{/with}}

	{{#if anchor_path}}
	<p class='more-info'>
		Show Full Movie Page
	</p>
	{{/if}}

{{#if anchor_path}}
</a>
{{else}}
</div>
{{/if}}
